.home-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navbar{
    height: 180px;
    display: flex;
    flex-direction: row;
    background-color: #6666ff;
    
    display: flex;
    justify-content: space-between;
}
.Navbar-image{
    width: 180px;
    height: 150px;
    display: flex;
    margin-left: 50px;
   margin-top: 15px;
    
}
.search-input{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    margin: 15px;
   
}
.navbar-heading{
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
}