.news-article-card{
    width: 350px;
    height:auto;
    margin: 50px;
    box-shadow: 12px 7px 31px  -2px #cccc;
    padding: 10px;
    object-fit: cover;
    

}
.news-article-img{
    height: 200px;
    width: 350px;
    
}
.article-title{
    font-size: 20px;
    font-weight: bold;
    font-family: serif;
}
.btn-readmore{
    text-decoration: none;
    color: crimson;
    font-size: 20px;
    cursor: pointer;

}